@model Misdirection.Models.Genre

@{
    ViewBag.Title = "Browse";
}

<h1>@Model.Name</h1>
<ul class="small-block-grid-4">
    @foreach (var album in Model.Albums)
    {
        <li>
            <a href="@Url.Action("Details", new { id = album.AlbumId })" class="listing">
                @*<img src="@Url.Content(album.AlbumArtUrl)" class="listing_small" />*@
                <img src="http://placehold.it/600x340&text=Photo Pending" class="listing_large" />
                <span class="listing_text">@album.Title</span>
            </a>
        </li>

    }
</ul>
