@model IEnumerable<Misdirection.Models.Genre>
@{
    ViewBag.Title = "Store";
}
<h1>Browse Genres</h1>

<ul class="small-block-grid-4" id="genre-buttons">
    @foreach (var genre in Model)
    {
        <li class="cat_@genre.Name.Replace(" ", "-")">@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
    }
</ul>